<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">
        <span ng-show="id==0">展厅问卷录入</span>
        <span ng-show="id!=0">展厅问卷修改</span>
    </h1>
</div>
<div class="wrapper-md">
    <div ng-controller="ExhibitionSurveyCtrl" ng-init="initData()">
        <form name="myForm" class="form-validation" ng-submit="surveySubmit(false)">
            <div class="row ">
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4">商场／展厅选择</span>
                        </div>
                        <div class="panel-body" >
                            <div class="form-group">
                                <label >1. 商场</label>
                                <div ui-module="select2">
                                    <select ui-select2="{allowClear: true}" ng-model="fieldVal.marketId" data-placeholder="商场" class="form-control input-sm w-md" required ng-change="selectEhb(fieldVal.marketId)">
                                        <option value=""></option>
                                        <option ng-repeat="market in marketList" value="{{market.id}}">{{market.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label >2. 展厅</label>
                                <div ui-module="select2">
                                    <select ui-select2="{allowClear: true}" ng-model="fieldVal.exhibitionId" data-placeholder="展厅" class="form-control input-sm w-md"  >
                                        <option value=""></option>
                                        <option ng-repeat="store in exhibitionList | filter:{marketId: fieldVal.marketId}:ehbComparator" value="{{store.id}}">{{store.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="h4">展厅环境</span>
                        </div>
                        <div class="panel-body" ng-repeat="field1 in surveyFieldList1 ">
                            <!--<p class="text-muted">Need support? please fill the fields below.</p>-->
                            <div class="form-group">
                                <label>{{field1.orderId}}. {{field1.fieldDesc}}</label>
                                <div ng-show="field1.fieldFormat=='input'">
                                    <input type="text" ng-model="field1.fieldVal" class="input-sm form-control" placeholder="{{field1.fieldDesc}}" >
                                </div>
                                <div ng-show="field1.fieldFormat=='number'">
                                    <div class="form-group col-sm-3">
                                        <input type="number" ng-model="field1.fieldVal" class="input-sm form-control" placeholder="{{field1.fieldDesc}}" ng-pattern="/^[0-9]*\d$/">
                                    </div>
                                </div>
                                <div ng-show="field1.fieldFormat=='select'">
                                    <div class="form-group col-sm-3" ng-show="field1.fieldName!='exhibitionCity'">
                                        <div ui-module="select2">
                                            <select ui-select2="{allowClear: true}" data-placeholder="{{field1.fieldDesc}}" ng-model="field1.fieldVal" class="form-control m-b">
                                                <option ng-repeat="item in field1.optionList" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6" ng-show="field1.fieldName=='exhibitionCity'">
                                        <div class="col-sm-4">
                                            <select class="w-md" ng-model="field1.fieldVal" data-placeholder="{{field1.fieldDesc}}" >
                                                <optgroup ng-repeat="item in field1.optionList" label="{{item.name}}">
                                                    <option ng-repeat="child in item.childDataList" value="{{child.id}}">{{child.name}}</option>
                                                </optgroup>
                                                <option value="0"></option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="radio list-group-item wrapper bg-light clearfix" ng-show="field1.fieldFormat=='radio'">
                                    <div ng-class="{true: 'form-group col-sm-5', false: 'form-group col-sm-3'}[field1.optionList.length<=2]" ng-repeat="item in field1.optionList">
                                        <label class="i-checks"  >
                                            <input type="radio" ng-model="field1.fieldVal" ng-value="item.id" >
                                            <i></i>
                                            <t ng-show="item.code!='Z'">{{item.name}}</t>
                                        </label>
                                        <input ng-show="item.code=='Z'" placeholder="{{item.name}}" ng-model="field1.otherOptionVo[field1.fieldName]" >
                                    </div>
                                </div>
                                <div class="checkbox list-group-item wrapper bg-light clearfix" ng-show="field1.fieldFormat=='checkbox'">
                                    <div ng-class="{true: 'form-group', false: 'form-group col-sm-3'}[field1.optionList.length<=2]" ng-repeat="item in field1.optionList">
                                        <label class="i-checks" >
                                            <input type="checkbox" ng-model="field1.fieldArr[item.id]" >
                                            <i></i>
                                            <t ng-show="item.code!='Z'">{{item.name}}</t>
                                        </label>
                                        <input ng-show="item.code=='Z'" placeholder="{{item.name}}" ng-model="field1.otherOptionVo[field1.fieldName]" >
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                        </div>
                        <!--<footer class="panel-footer text-right bg-light lter">-->
                            <!--<button type="button" class="btn btn-success">Save</button>-->
                        <!--</footer>-->
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <strong>人员服务</strong>
                        </div>
                        <div class="panel-body" ng-repeat="field1 in surveyFieldList2">
                            <!--<p class="text-muted">Need support? please fill the fields below.</p>-->
                            <div class="form-group">
                                <label >{{field1.orderId}}. {{field1.fieldDesc}}</label>
                                <div ng-show="field1.fieldFormat=='input'">
                                    <input type="text" ng-model="field1.fieldVal" class="input-sm form-control" placeholder="{{field1.fieldDesc}}" >
                                </div>
                                <div ng-show="field1.fieldFormat=='number'">
                                    <div class="form-group col-sm-3">
                                        <input type="number" ng-model="field1.fieldVal" class="input-sm form-control" placeholder="{{field1.fieldDesc}}"  ng-pattern="/^[0-9]*\d$/">
                                    </div>
                                </div>
                                <div ng-show="field1.fieldFormat=='select'">
                                    <div class="form-group col-sm-3" >
                                        <div ui-module="select2">
                                            <select ui-select2="{allowClear: true}" data-placeholder="{{field1.fieldDesc}}" ng-model="field1.fieldVal" class="form-control m-b">
                                                <option ng-repeat="item in field1.optionList" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="radio list-group-item wrapper bg-light clearfix" ng-show="field1.fieldFormat=='radio'">
                                    <div ng-class="{true: 'form-group col-sm-4', false: 'form-group col-sm-3'}[field1.optionList.length<=2]" ng-repeat="item in field1.optionList">
                                        <label class="i-checks"  >
                                            <input type="radio" ng-model="field1.fieldVal" ng-value="item.id" >
                                            <i></i>
                                            <t ng-show="item.code!='Z'">{{item.name}}</t>
                                        </label>
                                        <input ng-show="item.code=='Z'" placeholder="{{item.name}}" ng-model="field1.otherOptionVo[field1.fieldName]" >
                                    </div>
                                </div>
                                <div class="checkbox list-group-item wrapper bg-light clearfix" ng-show="field1.fieldFormat=='checkbox'">
                                    <div ng-class="{true: 'form-group', false: 'form-group col-sm-3'}[field1.optionList.length<=2]" ng-repeat="item in field1.optionList">
                                        <label class="i-checks" >
                                            <input type="checkbox" ng-model="field1.fieldArr[item.id]" >
                                            <i></i>
                                            <t ng-show="item.code!='Z'">{{item.name}}</t>
                                        </label>
                                        <input ng-show="item.code=='Z'" placeholder="{{item.name}}" ng-model="field1.otherOptionVo[field1.fieldName]" >
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                        </div>
                        <!--<footer class="panel-footer text-right bg-light lter">-->
                            <!--<button type="button" class="btn btn-success">Save</button>-->
                        <!--</footer>-->
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>公区摆展</strong>
                        </div>
                        <div class="panel-body" ng-repeat="field1 in surveyFieldList3 ">
                            <!--<p class="text-muted">Need support? please fill the fields below.</p>-->
                            <div class="form-group">
                                <label>{{field1.orderId}}. {{field1.fieldDesc}}</label>
                                <div ng-show="field1.fieldFormat=='input'">
                                    <input type="text" ng-model="field1.fieldVal" class="input-sm form-control" placeholder="{{field1.fieldDesc}}" >
                                </div>
                                <div ng-show="field1.fieldFormat=='number'">
                                    <div class="form-group col-sm-3">
                                        <input type="number" ng-model="field1.fieldVal" class="input-sm form-control" placeholder="{{field1.fieldDesc}}"  ng-pattern="/^[0-9]*\d$/">
                                    </div>
                                </div>
                                <div ng-show="field1.fieldFormat=='select'">
                                    <div class="form-group col-sm-3">
                                        <div ui-module="select2">
                                            <select ui-select2="{allowClear: true}" data-placeholder="{{field1.fieldDesc}}" ng-model="field1.fieldVal" class="form-control m-b">
                                                <option ng-repeat="item in field1.optionList" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="radio list-group-item wrapper bg-light clearfix" ng-show="field1.fieldFormat=='radio'">
                                    <div ng-class="{true: 'form-group col-sm-4', false: 'form-group col-sm-3'}[field1.optionList.length<=2]" ng-repeat="item in field1.optionList">
                                        <label class="i-checks"  >
                                            <input type="radio" ng-model="field1.fieldVal" ng-value="item.id" >
                                            <i></i>
                                            <t ng-show="item.code!='Z'">{{item.name}}</t>
                                        </label>
                                            <input ng-show="item.code=='Z'" placeholder="{{item.name}}" ng-model="field1.otherOptionVo[field1.fieldName]" >
                                    </div>
                                </div>
                                <div class="checkbox list-group-item wrapper bg-light clearfix" ng-show="field1.fieldFormat=='checkbox'">
                                    <div ng-class="{true: 'form-group', false: 'form-group col-sm-3'}[field1.optionList.length<=2]" ng-repeat="item in field1.optionList">
                                        <label class="i-checks" >
                                            <input type="checkbox" ng-model="field1.fieldArr[item.id]" >
                                            <i></i>
                                            <t ng-show="item.code!='Z'">{{item.name}}</t>
                                        </label>
                                        <input ng-show="item.code=='Z'" placeholder="{{item.name}}" ng-model="field1.otherOptionVo[field1.fieldName]" >
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                        </div>
                        <footer class="panel-footer text-left bg-light lter">
                            <button type="submit" class="btn btn-success" >提交返回</button>
                            <button type="button" class="btn btn-info"ng-click="surveySubmit(true)" >提交复制</button>
                            <button type="button" class="btn pull-right btn-danger" ng-if="id!=0" ng-click="delete()">删除</button>
                        </footer>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>