<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">展厅问卷查询</h1>
</div>
<div class="wrapper-md" ng-controller="SurveyQueryCtrl">
    <form name="form" class="form-validation" ng-submit="query()" ng-init="query()">
    <div class="panel panel-default">
        <div class="panel-heading">
            问卷列表
        </div>
        <div class="row wrapper">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" ng-model="queryName" class="input-sm form-control" placeholder="展厅名/品牌/品类">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-default btn-info" type="submit" ><i class="fa fa-fw fa-search"></i></button>
                  </span>
                  <span class="input-group-btn">
                      <button class="btn btn-sm btn-default btn-success" type="button" ng-click="excel()" ng-disabled="isDisabled"><i class="fa fa-fw fa-file-excel-o"></i></button>
                  </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light table-hover" >
                <thead>
                <tr>
                    <th style="width:30px;"></th>
                    <th class="hidden-xs">品类</th>
                    <th class="hidden-xs">品牌</th>
                    <th>商场</th>
                    <th>展厅</th>
                    <th>城市</th>
                    <!--<th>状态</th>-->
                    <th >完成度</th>
                    <th>提交人</th>
                    <th>提交日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in exhibitionSurveyList.content">
                    <td><label class="i-checks m-b-none"><input type="radio" ng-model="$parent.checkId"  value="{{item.id}}"  ><i></i></label></td>
                    <td class="hidden-xs">{{item.categoryName}}</td>
                    <td class="hidden-xs">{{item.brandName}}</td>
                    <td>{{item.marketName}}</td>
                    <td>{{item.exhibitionName}}</td>
                    <td>{{item.cityName}}</td>
                    <td>
                        <progressbar max="item.schedule[1]" value="item.schedule[0]" ng-init="type1=dynamicType(item.schedule[0],item.schedule[1])" type="{{type1}}" class="progress-sm m-t-sm"><span style="white-space:nowrap;">{{item.schedule[0]}} / {{item.schedule[1]}}</span></progressbar>
                    </td>
                    <td>{{item.userName}}</td>
                    <td>{{item.updateDate | date:'MM-dd HH:mm'}}</td>
                    <!--<td>-->
                        <!--<a ui-sref="app.exhibition.surveyShortInput({id:item.id})" ><i class="glyphicon glyphicon-edit text-warning"></i></a>-->
                    <!--</td>-->
                </tr>
                <tr ng-show="exhibitionSurveyList.content.length <= 0">
                    <td colspan="5" class="text-center">
                        <h4>暂无数据</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <button class="hidden-xs btn btn-sm btn-default" ui-toggle-class="show inline" target="#spin" ng-click="newSurvey()">
                        <span class="text">填写新问卷</span>
                        <span class="text-active">问卷打开中...</span>
                    </button>
                    <i class="fa fa-spin fa-spinner hide" id="spin"></i>

                    <button class="hidden-xs btn btn-sm btn-default" ng-click="updateSurvey()">修改问卷</button>
                    <button class="hidden-xs btn btn-sm btn-info" ng-click="newCopy()" >复制新建</button>
                    <button class="btn btn-sm btn-primary" ui-sref="app.exhibition.surveyShortInput({id:0})" >填写短问卷</button>
                    <button class="btn btn-sm btn-primary" ng-click="updateShort()" >修改短问卷</button>
                </div>
                <div class="col-sm-2 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">{{exhibitionSurveyList.number * exhibitionSurveyList.totalPages + 1}}-{{exhibitionSurveyList.number * exhibitionSurveyList.totalPages + exhibitionSurveyList.numberOfElements}} 共 {{exhibitionSurveyList.totalElements}}</small>
                </div>
                <div class="col-sm-4 text-right text-center-xs" ng-if="exhibitionSurveyList.content.length > 0">
                    <pagination boundary-links="true" total-items="exhibitionSurveyList.totalElements" ng-model="formData.pageInfo.pageNumber" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-click="query()"></pagination>
                </div>
            </div>
        </footer>
    </div>
    </form>
</div>