<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">品牌明细</h1>
</div>
<div class="wrapper-md" ng-controller="FoundationCtrl"  ng-init="init()">
    <h4 class="m-t-none m-b">品牌结构</h4>
    <div class="panel-body">
    <div class="row">
        <div class="col-sm-4">
            <div ui-jq="nestable" class="dd">
                <ol class="dd-list">
                    <li class="dd-item dd3-item" data-id="brandTree[id-1].id" >
                        <div class="dd-handle dd3-handle"><i class="fa fa-th-list icon"></i></div>
                        <div class="dd3-content" ng-show="title!=''">{{title}}
                            <i class="fa fa-minus-square pull-right"></i><i class="fa fa-pencil pull-right"></i><i class="fa fa-plus-square pull-right"></i>
                        </div>
                        <div class="dd3-content" ng-show="title==''">
                            <input ng-model="temp"><i ng-click="brandAdd(temp)" class="fa fa-check-square pull-right"></i>
                        </div>
                        <ol class="dd-list" >
                            <li class="dd-item dd3-item" data-id="item1.id" ng-repeat="item1 in brandTree[id-1].item">
                                <div class="dd-handle dd3-handle"><i class="fa fa-th-list icon"></i></div>
                                <div class="dd3-content">{{item1.name}}
                                    <i ng-click="deleteBrand(item1.id)" class="fa fa-minus-square pull-right"></i><i class="fa fa-pencil pull-right"></i><i class="fa fa-plus-square pull-right"></i>
                                </div>
                                <ol class="dd-list" >
                                    <li class="dd-item dd3-item" data-id="item2.id" ng-repeat="item2 in item1.item">
                                        <div class="dd-handle dd3-handle"><i class="fa fa-th-list icon"></i></div>
                                        <div class="dd3-content">{{item2.name}}
                                            <i ng-click="deleteBrand(item2.id)" class="fa fa-minus-square pull-right"></i><i class="fa fa-pencil pull-right"></i><i class="fa fa-plus-square pull-right"></i>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    </div>
</div>