<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">经销商信息</h1>
</div>
<div class="wrapper-md" ng-controller="CustomerCtrl">

    <div class="panel panel-default">
        <div class="panel-heading">
            经销商列表
        </div>
        <div class="row wrapper">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="名称/品牌/城市">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-default btn-info" type="button"><i class="fa fa-fw fa-search"></i></button>
                  </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light table-hover" >
                <thead>
                <tr>
                    <th>名称</th>
                    <th>联系人</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th style="width:30px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dealerList">
                    <td ><a class="text-info-dker block" ui-sref="app.console.dealerDetail({id:item.id})" >
                        <span >{{item.name}}</span> <br>
                    </a></td>
                    <td>{{item.linkman}}</td>
                    <td>{{item.telephone}}</td>
                    <td>{{item.email}}</td>
                    <td>
                        <a href ng-click="deleteEhb($index)"><i class="fa fa-times text-danger text"></i></a>
                    </td>
                </tr>
                <tr ng-show="dealerList.length <= 0">
                    <td colspan="5" class="text-center">
                        <h4>暂无数据</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <button class="btn btn-sm btn-default" ui-sref="app.console.dealerDetail({id:0})">添加</button>
                </div>
                <div class="col-sm-4 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">20-30 共 50</small>
                </div>
                <div class="col-sm-4 text-right text-center-xs" ng-if="dealerList.length > 0">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li class="footable-page-arrow disabled"><a data-page="first" href>«</a></li>
                        <li class="footable-page-arrow disabled"><a data-page="prev" href>‹</a></li>
                        <li><a href>1</a></li>
                        <li><a href>2</a></li>
                        <li><a href>3</a></li>
                        <li><a href>4</a></li>
                        <li><a href>5</a></li>
                        <li class="footable-page-arrow"><a data-page="next" href>›</a></li>
                        <li class="footable-page-arrow"><a data-page="last" href>»</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>