<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">经销商信息</h1>
</div>
<div class="wrapper-md" ng-controller="CustomerCtrl">
    <form name="form" class="form-validation" ng-submit="query()" ng-init="query()">
    <div class="panel panel-default">
        <div class="panel-heading">
            经销商列表
        </div>
        <div class="row wrapper">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="名称" ng-model="name">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-default btn-info" type="submit"><i class="fa fa-fw fa-search"></i></button>
                  </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light table-hover" >
                <thead>
                <tr>
                    <th>名称</th>
                    <th>联系人</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th style="width:30px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dealerList.content">
                    <td ><a class="text-info-dker block" ui-sref="app.console.dealerDetail({id:item.id})" >
                        <span >{{item.name}}</span> <br>
                    </a></td>
                    <td>{{item.linkman}}</td>
                    <td>{{item.telephone}}</td>
                    <td>{{item.email}}</td>
                    <td>
                        <a href ng-click="deleteEhb(item.id)"><i class="fa fa-times text-danger text"></i></a>
                    </td>
                </tr>
                <tr ng-show="dealerList.content.length <= 0">
                    <td colspan="5" class="text-center">
                        <h4>暂无数据</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-sm btn-default" ui-sref="app.console.dealerDetail({id:0})">添加</button>
                </div>
                <div class="col-sm-4 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">{{dealerList.number * dealerList.totalPages + 1}}-{{dealerList.number * dealerList.totalPages + dealerList.numberOfElements}} 共 {{dealerList.totalElements}}</small>
                </div>
                <div class="col-sm-4 text-right text-center-xs" ng-if="dealerList.content.length > 0">
                    <pagination boundary-links="true" total-items="dealerList.totalElements" ng-model="formData.pageInfo.pageNumber" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-click="query()"></pagination>
                </div>
            </div>
        </footer>
    </div>
    </form>
</div>