<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">经销商详情</h1>
</div>
<div class="wrapper-md" ng-controller="CustomerCtrl">
    <div class="col-sm-12">
        <form name="infoForm" class="form-validation" ng-submit="save()" ng-init="detail()">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span ng-show="id==0">经销商新建</span>
                    <span ng-show="id!=0">经销商修改</span>
                </div>
                <div class="list-group bg-white">
                    <li class="list-group-item">
                        <span class="pull-left thumb-sm"><i class="fa fa-fw fa-star"></i><span class="text-danger">*</span></span>
                        <div class="media-body">
                            <input type="text" ng-model="dealerInfo.name" class="input-sm form-control" placeholder="名称" required>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-left thumb-sm"><i class="fa fa-map-signs fa-user"></i></span>
                        <div class="media-body">
                            <input type="text" ng-model="dealerInfo.linkman" class="input-sm form-control" placeholder="联系人" >
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-left thumb-sm"><i class="fa fa-fw fa-phone"></i></span>
                        <div class="media-body">
                            <input type="text" ng-model="dealerInfo.telephone" class="input-sm form-control" placeholder="电话" >
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-left thumb-sm"><i class="fa fa-fw fa-envelope"></i></span>
                        <div class="media-body">
                            <input type="email" ng-model="dealerInfo.email" class="input-sm form-control" placeholder="邮箱" >
                        </div>
                    </li>

                </div>
                <footer class="panel-footer text-left bg-light lter">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="infoForm.$invalid">保存</button>
                    <button type="button" class="btn btn-sm btn-success" ui-sref="app.console.exhibitionList">返回</button>
                </footer>
            </div>
        </form>
    </div>
</div>