<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">门店/展厅信息</h1>
</div>
<div class="wrapper-md" ng-controller="ExhibitionCtrl" >
    <form name="form" class="form-validation" ng-submit="query()" ng-init="query()">
    <div class="panel panel-default">
        <div class="panel-heading">
            门店/展厅列表
        </div>
        <div class="row wrapper">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" ng-model="queryName" placeholder="名称/品牌/城市">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-default btn-info" type="submit"><i class="fa fa-fw fa-search"></i></button>
                  </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light table-hover" >
                <thead>
                <tr>
                    <th>名称</th>
                    <th>地址</th>
                    <th>经销商</th>
                    <th>品牌</th>
                    <th>商场</th>
                    <th>城市</th>
                    <th style="width:30px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in exhibitionList.content">
                    <td ><a class="text-info-dker block" ui-sref="app.console.exhibitionDetail({id:item.id})" >
                        <span >{{item.name}}</span> <br>
                    </a></td>
                    <td>{{item.address}}</td>
                    <td>{{item.dealer.name}}</td>
                    <td>{{item.brandVo.name}}</td>
                    <td>{{item.market.name}}</td>
                    <td>{{item.city.cityName}}</td>
                    <td>
                        <a href ng-click="deleteEhb($index)"><i class="fa fa-times text-danger text"></i></a>
                    </td>
                </tr>
                <tr ng-show="exhibitionList.content.length <= 0">
                    <td colspan="5" class="text-center">
                        <h4>暂无数据</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <button class="btn btn-sm btn-default" ui-sref="app.console.exhibitionDetail({id:0})">添加</button>
                </div>
                <div class="col-sm-4 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">{{exhibitionList.number * exhibitionList.totalPages + 1}}-{{exhibitionList.number * exhibitionList.totalPages + exhibitionList.numberOfElements}} 共 {{exhibitionList.totalElements}}</small>
                </div>
                <div class="col-sm-4 text-right text-center-xs" ng-if="list.content.length > 0">
                    <pagination boundary-links="true" total-items="list.totalElements" ng-model="formData.pageInfo.pageNumber" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
            </div>
        </footer>
    </div>
    </form>
</div>