<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">门店/展厅详情</h1>
</div>
<div class="wrapper-md" ng-controller="ExhibitionCtrl" >
    <div class="row">
        <div class="col-sm-6" >
            <form name="infoForm" class="form-validation" ng-submit="saveStore()" ng-init="detail()">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        基本信息
                    </div>
                    <div class="list-group bg-white">
                        <li class="list-group-item">
                            <span class="pull-left thumb-sm"><i class="fa fa-fw fa-star"></i><span class="text-danger">*</span></span>
                            <div class="media-body">
                                <input type="text" ng-model="storeInfo.name" class="input-sm form-control" placeholder="名称" required>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <span class="pull-left thumb-sm"><i class="fa fa-fw fa-map-signs"></i><span class="text-danger">*</span></span>
                            <div class="media-body">
                                <input type="text" ng-model="storeInfo.address" class="input-sm form-control" placeholder="地址" required>
                            </div>
                        </li>
                        <li class="list-group-item" >
                            <span class="pull-left thumb-sm"><i class="fa fa-fw fa-building"></i></span>
                            <div ui-module="select2">
                                <select ui-select2="{allowClear: true}" ng-model="storeInfo.market.id" data-placeholder="商场" class="form-control input-sm w-md">
                                    <option value=""></option>
                                    <option ng-repeat="market in dictionaryMap.s_market" value="{{market.id}}">{{market.name}}</option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item" >
                            <span class="pull-left thumb-sm"><i class="fa fa-fw fa-user"></i></span>
                            <div ui-module="select2">
                                <select ui-select2="{allowClear: true}" ng-model="storeInfo.dealer.id" data-placeholder="经销商" class="form-control input-sm w-md">
                                    <option value=""></option>
                                    <option ng-repeat="dealer in dictionaryMap.s_dealer" value="{{dealer.id}}">{{dealer.name}}</option>
                                </select>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <span class="pull-left thumb-sm"><i class="fa fa-map-marker"></i></span>
                            <select  ng-model="storeInfo.city.id" data-placeholder="城市" class="w-md form-group">
                                <optgroup ng-repeat="province in dictionaryMap.d_city" label="{{province.name}}">
                                    <option ng-repeat="city in province.childDataList" value="{{city.id}}">{{city.name}}</option>
                                </optgroup>
                            </select>
                        </li>

                    </div>
                    <footer class="panel-footer text-left bg-light lter">
                        <span class="pull-left thumb-sm">&nbsp;</span>
                        <button type="submit" class="btn btn-sm btn-primary" ng-disabled="infoForm.$invalid">保存</button>
                        <button type="button" class="btn btn-sm btn-success" ui-sref="app.console.exhibitionList">返回</button>
                    </footer>
                </div>
            </form>
        </div>

    </div>

</div>