<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">厂商</h1>
</div>
<div class="wrapper-md" ng-controller="FoundationCtrl">

    <div class="panel panel-default">
        <div class="panel-heading">
            厂商列表
        </div>
        <div class="row wrapper">
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="名称/联系人/电话">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default btn-info" type="button"><i class="fa fa-fw fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light table-hover" >
                <thead>
                <tr>
                    <th>名称</th>
                    <th>地址</th>
                    <th>电话</th>
                    <th style="width:10%;">联系人</th>
                    <th style="width:30px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in manufacturerList">
                    <td ><a class="text-info-dker block" >
                        <span >{{item.name}}</span> <br>
                    </a></td>
                    <td>{{item.address}}</td>
                    <td>{{item.telphone}}</td>
                    <td>{{item.linkman}}</td>
                    <td>
                        <a href ng-click="deleteManuf($index)"><i class="fa fa-times text-danger text"></i></a>
                    </td>
                </tr>
                <tr ng-show="manufacturerList.length <= 0">
                    <td colspan="5" class="text-center">
                        <h4>暂无数据</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <button class="btn btn-sm btn-default" >添加</button>
                </div>
                <div class="col-sm-4 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">20-30 共 50</small>
                </div>
                <div class="col-sm-4 text-right text-center-xs" ng-if="manufacturerList.length > 0">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
                        <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
                        <li><a href>1</a></li>
                        <li><a href>2</a></li>
                        <li><a href>3</a></li>
                        <li><a href>4</a></li>
                        <li><a href>5</a></li>
                        <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                        <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
                    </ul>
                </div>
            </div>

        </footer>
    </div>
</div>