<div class="modal-header">
    <h3 class="modal-title">权限名称修改</h3>
</div>
<div class="modal-body">
    <ul>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="roleEdit">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ok(roleEdit)">OK</button>
              </span>
        </div>
    </ul>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>